<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOMOSGUMIAPP</title>
  <!-- Incluye Tailwind CSS para estilos -->
  <link href="styles.9223ed52e409b508.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <app-root class="bg-gray-100 w-full h-32 text-center">ACHO QUE MIERDA PASA</app-root>
  <script src="runtime.1e70f244cc06fa31.js"></script>
  <script src="polyfills.1c7b21f63c817bbc.js"></script>
  <script src="main.0fce6ace9bdb6a7b.js"></script>
</body>
</html>
