<header>
  <h2 class="text.bold">OJETES FOREVER</h2>
  <h1>Bienvenido a Mi App Web SOMOSGUMIAPP</h1>
</header>

<main>
  <section>
    
    <p>Gumiapp es la aplicación que transforma la experiencia en hostelería. Escanea el código QR en tu mesa y accede instantáneamente al menú del lugar en tu dispositivo. Realiza pedidos de manera rápida y sencilla, mejorando tu experiencia sin esperas innecesarias.</p>
  </section>
  <section>
    <h2>Cómo comprarla</h2>
    <p>Puedes adquirir Gumiapp poniéndote en contacto con nosotros a través del formulario de contacto o registrándote y accediendo a nuestro panel de usuario para contratar nuestros servicios.</p>
  </section>
</main>

<footer>
  <p>Contacto y otros detalles.</p>
</footer>

<router-outlet></router-outlet>
